<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
    <title>Estación Meteorológica</title>
</head>


<body>
<div class="navbar" style="background: #0097a7;">
    <span class="navbar-brand mb-1" style="color: white; font-size: 25px;">Estación Meteorológica</span>
</div>

<main>

<form>
        Tiempo de muestreo

        <input type="number" id="intervalue" min="1" style="max-width: 100px" value="2">
        segundos:
      </form>


    <div class="table-responsive">
        <table class="table table-bordered" style="text-align: center; width: 75%; margin: 0px auto;">
            <caption>Tabla 1: Últimas muestras recolectadas</caption>
            <thead class="thead-light">
                <tr>
                  <th scope="col"><b>Variable</b></th>
                  <th scope="col"><b>Valor</b></th>
                  <th scope="col"><b>Unidad</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Temperatura</th>
                    <td id="a">{{sample.temperature}}</td> <!--Acá hay que traer la temperatura desde el backend-->
                    <td>°C</td>
                </tr>
                <tr>
                    <th scope="row">Humedad</th>
                    <td id="sh">{{sample.humidity}}</td><!--Acá hay que traer la humedad desde el backend-->
                    <td>%</td>
                </tr>
                <tr>
                    <th scope="row">Vel. del viento</th>
                    <td id="sp">{{sample.pressure}}</td> <!--Acá hay que traer la windspeed desde el backend-->
                    <td>km/h</td>
                </tr>
                <tr>
                    <th scope="row">Presión</th>
                     <td id="sw">{{sample.windspeed}}</td><!--Acá hay que traer la presión desde el backend-->
                    <td>hPa</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="table-responsive">
        <table class="table table-bordered" style="text-align: center; width: 75%; margin: 0px auto;">
            <caption>Tabla 2: Promedio de las últimas 10 muestras</caption>
            <thead class="thead-light">
                <tr>
                  <th scope="col"><b>ID</b></th>
                  <th scope="col"><b>Temperatura</b></th>
                  <th scope="col"><b>Humedad</b></th>
                  <th scope="col"><b>Vel. del viento</b></th>
                  <th scope="col"><b>Presión</b></th>
                </tr>
            </thead>
            <tbody>
                {% for s in samples %}<!--Acá hay que reemplazar por un for y un solo bloque <tr><td> ya que el for hace los 10 necesarios.-->
                <tr>
                  <td>{{s.id}}</td>
                  <td>{{s.temperature}}</td>
                  <td>{{s.humidity}}</td>
                  <td>{{s.windspeed}}</td>
                  <td>{{s.pressure}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <thead class="thead-light">
                <tr>
                    <th>Promedio</th>
                    <!--En estos 4 th de abajo ponemos los promedios de cada variable-->
                    <th>{{tprom}}</th>
                    <th>{{hprom}}</th>
                    <th>{{wsprom}}</th>
                    <th>{{pprom}}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="/static/js/info.js"></script>

</body>

</html>
